@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --custom-symbol: symbols("->");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(231, 231, 229);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 1rem 2rem;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  margin: 0.7rem 0;
  font-family: inherit;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.container {
width: 1000px;
max-width: 100%;
padding: 1rem auto;
margin:  auto;
}

.container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.container .navbar .main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container .navbar .main-menu li a {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  margin-left: 10px;
  text-decoration: none;
}

.container .navbar .main-menu li a:hover {
  cursor: pointer;
  color: rgb(233, 178, 106);
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

#projects p {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

#projects img {
  display: none;
}

#skills {
  margin-top: 2rem;
}

.skills-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.skills-list img {
  width: 100px;
  height: 100px;
}

#contact ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

#contact ul li {
 font-size: 2.5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.footer i {
  color: red;
}





