@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(231, 231, 229);
  font-family: 'Roboto', sans-serif;
  margin: 1rem 2rem;
}

h1 {
  font-size: 2rem;
  margin: 0.7rem 0;
  font-family: inherit;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.container {
width: 1000px;
height: 100vh;
max-width: 100%;
padding: 1rem auto;
margin: 0 auto;
}

.container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.container .navbar .main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container .navbar .main-menu li a {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  margin-left: 10px;
  text-decoration: none;
}

.container .navbar .main-menu li a:hover {
  cursor: pointer;
  color: rgb(233, 178, 106);
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}


